<img src="/assets/img/bigkauna.png">

<h1>Hamburgers: the cornerstone of any nutritious breakfast</h1>

<h2>That's a tasty burger!</h2>

<!-- Burgers list -->

<div class="container-fluid">

<div class="row justify-content-md-center">

<div class="col col-md-auto">
  <h3>Menu</h3>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
          {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="col col-md-auto">
  <h3>Burgers You've Crushed</h3>
<ul>
  {{#each burgers}}
    {{#if devoured}}
           {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
</div>
<h2>Add a Burger</h2>
<form id="createOrder">
  <div class="form-group">
    <label for ="bu"></label>
    <input type="text" placeholder="Your Burger Here!" id="bu" name="burger_name" class="burger-form">
    <br>
    <h4 class="burger-button">Click Me</h4>
    <button type="submit" id="bu" name="burger_name"><img class="burgerpic" src="/assets/img/slj.png"></button>
    <h4>To Add</h4>
  </div>
  {{!-- <textarea type="text" name="burger_name"></textarea>
    <button type="submit" id="bu" name="burger_name">Order Up!</button> --}}
</form>


