body {
  background-color: #F8E9A1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

#createOrder {
  text-align: center;
}

.burgerpic {
  width: 64px;
  height: 64px;
}

.burger-form {
  text-align: center;
}

.burger-button {
  margin-top: 20px;
}