<!-- Buttons to indicate if Burger needs or has been devoured -->

<li>
	{{burger_name}}

	<button class="devoured-btn" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat It{{else}}UmmUmm!{{/if}}
	</button>
</li>
